/* 
    кольори текста логотипа: #4D5AE5, #2E2F42, #F4F4FD
    колір текста навігації та заголовків: #2E2F42
    колір телефона та мейла: #434455
    колір текста на банері: #FFFFFF
    колір осн. текста (в секціях, картках портфоліо): #434455
    колір текста на кнопці: #FFFFFF
    колір фону верхньої секції та футера: #2E2F42
    колір фону нашої команди: #F4F4FD
    колір рамок: #E7E9FC
    колір кнопок портфоліо: #F4F4FD
    колір акценту кнопки фільтру портфоліо: #404BBF
    колір текста в футері: #F4F4FD
    */

:root {
  --dark-text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --light-text-color: #f4f4fd;
  --subtle-text-color: #8e8f99;
  --primary-text-color: #434455;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-bg-color: #ffffff;
  --light-bg-color: #f4f4fd;
  --dark-bg-color: #2e2f42;
  --border-color: #e7e9fc;
  --accent-color: #404bbf;
  --success-color: #31d0aa;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --dairy-modal: #fcfcfc;
  --indent: 48px 24px;
}

/* Box sizing (Те саме прописано в modern-normalize)
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*/

/* 
==========================================
Reset 
==========================================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 
==========================================
Styles 
==========================================
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 
==========================================
Base styles 
==========================================
*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Base styles for small devices */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  outline-offset: -2px;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph-text {
  color: var(--primary-text-color);
  font-size: 16px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.logo-dark {
  color: var(--dark-text-color);
}

.logo-light {
  color: var(--light-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--dark-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.item-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* ========== Card set ========== */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* ========== Header ========== */

.header {
  background: var(--primary-bg-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 76px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .header .logo {
    margin-right: 120px;
  }
}

.header .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* ========== site-nav, contact-nav ========== */

.site-nav {
  display: flex;
  margin-right: auto;
  gap: 40px;
}
@media only screen and (max-width: 767.8px) {
  .site-nav {
    display: none;
  }
}

.contact-nav {
  display: flex;
  margin-left: auto;
  gap: 40px;
  font-style: normal;
}
@media only screen and (max-width: 767.8px) {
  .contact-nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .contact-nav {
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
  }
}

/*
.site-nav.list {
  gap: 40px;
}
.contact-nav.list {
  gap: 40px;
}
*/

.site-nav.list .link {
  position: relative;
  display: block;
  color: var(--dark-text-color);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav.list .link {
  display: block;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .contact-nav.list .link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu-toggle-icon {
  stroke: var(--dark-bg-color);
}

/*
.site-nav.list .item:not(:last-child),
.contact-nav.list .item:not(:last-child) {
  margin-right: 40px;
}
.site-nav.list .link,
.contact-nav.list .link {
  padding-top: 24px;
  padding-bottom: 24px;
}
*/

/* ========== Hero ========== */

/* Hero background */

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mob@2x.jpg");
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-tablet@2x.jpg");
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero@2x.jpg");
    }
  }
}

/* Hero title. Effective Solutions for Your Business */
.hero-title {
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

/* Hero button. Order Service */
.hero .button {
  display: block;
  margin: auto;
  padding: 16px 32px;
  background-color: var(--brand-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* ========== Sections ========== */

/* ========== Features ========== */

.feature-list {
  --items: 1;
  --indent: 72px;
  justify-content: center;
}
.feature-list .card-set-item {
  max-width: 396px;
}
.feature-list .item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
}
.feature-illustration {
  display: none;
}
.feature-list .paragraph-text {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .feature-list {
    --items: 2;
    --indent: 72px 24px;
    justify-content: center;
  }
  .feature-list .card-set-item {
    max-width: 356px;
  }
  .feature-list .item-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-list {
    --items: 4;
    --indent: 24px;
    flex-wrap: nowrap;
  }
  .feature-list .card-set-item {
    max-width: 264px;
  }
  .feature-list .item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .feature-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--light-bg-color);
  }
}

/* Repeta class
.feature-list .card-set-item::before {
  display: block;
  content: ‘’;
  height: 112px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: --light-bg-color;
}
.feature-list {
  display: flex;
  justify-content: center;
}
.feature-list .item {
  width: 264px;
}
.feature-list .item:not(:last-child) {
  margin-right: 24px;
}
*/

/* Work */

.section.work {
  padding-top: 0;
}
@media only screen and (max-width: 1157.8px) {
  .section.work {
    display: none;
  }
}
.work-list {
  --items: 3;
  --indent: 24px;
  flex-wrap: nowrap;
}

/*
.work-list {
  display: flex;
  justify-content: center;
}
.work-list .item:not(:last-child) {
  margin-right: 24px;
}
*/

/* Team */

.team {
  background-color: var(--light-bg-color);
}

@media only screen and (max-width: 767.8px) {
  .team-list {
    --items: 1;
    --indent: 72px;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .team-list {
    --items: 2;
    --indent: 64px 24px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    --items: 4;
    --indent: 24px;
    flex-wrap: nowrap;
  }
}

.team-list .card-set-item {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
}

/*
.team-list {
  display: flex;
  justify-content: center;
}
.team-list .item:not(:last-child) {
  margin-right: 24px;
}
*/

.card-content {
  padding: 32px 0;
}

.team-list .title {
  color: var(--title-text-color);
}

.team-list .paragraph-text {
  margin-bottom: 8px;
}

.team .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .socials-link:hover,
.team .socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: #f4f4fd;
}

/* Customers */

@media only screen and (max-width: 767.8px) {
  .customers-list {
    --items: 2;
    --indent: 72px 16px;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .customers-list {
    --items: 3;
    --indent: 72px 24px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    --items: 6;
    --indent: 24px;
    flex-wrap: nowrap;
  }
}

.customers-list .card-set-item {
  box-sizing: border-box;
  height: 88px;
}

@media only screen and (max-width: 767.8px) {
  .customers-list .card-set-item {
    width: 190px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-list .card-set-item {
    width: 168px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

/*.customers-list .card-set-item {
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  text-align: center;
}
*/

/* ========== Portfolio ========== */

.section.portfolio {
  padding-top: 96px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 24px;
}

.portfolio .button {
  padding: 12px 24px;
  background-color: var(--light-bg-color);
  border: 1px solid var(--border-color);
  color: var(--brand-color);
}

.portfolio .button:hover,
.portfolio .button:focus,
.portfolio .button:active {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  --items: 3;
}

.portfolio-list .link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
}

.card-image-wrapper:hover .overlay,
.card-image-wrapper:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .card-content {
  padding: 32px 16px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

/*
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-list .item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
*/

.portfolio-list .title {
  color: var(--title-text-color);
}

/* ========== Footer ========== */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-bg-color);
  text-align: center;
}
.footer-set {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.block-one {
  width: 268px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--light-text-color);
  text-align: left;
}
.footer-text-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
  margin-bottom: 16px;
}
/* = Footer socials = */
.footer .socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--success-color);
}
/* = Footer subscribe form = */
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.subscribe-form-label {
  width: 100%;
}
.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: transparent;
  color: var(--white-text-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input:focus {
  border-color: var(--brand-color);
}
.subscribe-form-input::placeholder {
  color: currentColor;
}
.subscribe-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  padding: 8px 24px;
  background-color: var(--brand-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-form .button:hover,
.subscribe-form .button:focus,
.subscribe-form .button:active {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.footer-button-icon {
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .block-one {
    max-width: 264px;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }
  .subscribe-form-label {
    width: 264px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.8px) {
  .footer {
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-set {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: baseline;*/
    gap: 0;
  }
  .block-one {
    margin-right: 120px;
  }
  .block-two {
    max-width: 208px;
    margin-right: 80px;
  }
}

/* ========== Modal styles ========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--dairy-modal);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  fill: var(--dark-text-color);
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  fill: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-icon {
}

.modal-caption {
  display: block;
  margin-bottom: 16px;
  width: 360px;
  color: var(--dark-text-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.modal-form-field {
  position: relative;
  /*display: block;*/
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  /*padding: 11px 38px;*/
  padding-left: 38px;
  font-size: 18px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--brand-color);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: var(--brand-color);
}

.modal-form-comment::placeholder {
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.modal-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-agreement-desc > .modal-form-custom-checkbox {
  border: none;
  background-color: var(--accent-color);
  fill: var(--light-bg-color);
}

/*
.modal-form-checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox > .modal-form-checkbox-icon {
  opacity: 1;
}
*/

.modal-form-agreement-desc {
  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}
.modal-form-agreement-link {
  color: var(--brand-color);
  text-decoration-line: underline;
}

.modal-form .button {
  display: block;
  margin: auto;
  min-width: 169px;
  padding: 16px 32px;
  background-color: var(--brand-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form .button:hover,
.modal-form .button:focus,
.modal-form .button:active {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* ========== Mobile menu styles ========== */

.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-right: auto;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--primary-bg-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--dark-text-color);
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.mobile-menu {
  width: fit-content;
  padding: 0;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
  color: var(--dark-text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .link:active {
  color: var(--accent-color);
}

.menu-container .mobile-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 48px;
}

.menu-container .mobile-contacts .phone .link {
  color: var(--brand-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.menu-container .mobile-contacts .email .link {
  color: var(--primary-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.menu-container .socials {
  max-width: 100%;
  display: flex;
  gap: 56px;
  /*calc((100% - 4 * 40px - 40px) / 3);*/
}

.menu-container .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
}

@media only screen and (max-width: 427.8px) {
  .menu-container .mobile-contacts .phone .link {
    font-size: 24px;
  }
  .menu-container .socials {
    gap: 24px;
  }
}
